.root {
  margin: 2% 5% 2% 5%;
}
/* Landing Styles */
.nav-home-styles {
  /* position: absolute;
  */

  width: 100%;
  z-index: 9999999;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
  /* -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 170%);
  mask-image: linear-gradient(to bottom, black 10%, transparent 170%); */
}
.nav-home-wrapper-styles {
  height: 100%;
  position: relative;
}
.nav-logo {
  border: 5px yellow solid !important;
}
.overlap-images {
  display: grid;
  grid-template-areas: "overlay";
}

.overlap-images > span {
  grid-area: overlay;
}
.overlap-images > div {
  grid-area: overlay;
}
.carousel-image-container {
  /* height: 105vh !important; */
}
.carousel-logo {
  /* background-color: white !important; */
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3); */
  /* backdrop-filter: blur(1px) invert(0%); */
  /* background */
  border-radius: 40px;
  top: 12% !important;
  filter: invert(100%);
  max-width: 15% !important;
  max-height: 15% !important;
  min-width: 15% !important;
  min-height: 15% !important;
}
.landing-description {
  text-align: center;
  margin: 30px 0px 30px 0px;
  letter-spacing: 0.15rem;
}
.landing-image {
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 1px 1px 1px 1px grey; */
}
/* Nav Bar */
.nav-wrapper {
  width: full;
}
.link-list {
  display: flex;
  padding-left: 0;
}
.title {
  text-align: center;
  letter-spacing: 1rem;
  margin: -4% -5% -2% -5%;
}
.nav-item {
  flex: 1;
  list-style-type: none;
  text-align: center;
  /* border: 1px solid yellow; */
}
.nav-text {
  display: inline-block;
  padding: 0px 2% 0px 2%;
  /* border: 1px solid orange; */
}
nav.fill ul li a {
  transition: all 2s;
}
nav.fill ul li a {
  position: relative;
}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #8b9da3;
  height: 1px;
}
nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #e6e5e3;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
  background: #8b9da3;
}
/* Contact Styles */
.contact-image {
  /* height: 600px; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* background-color: blue; */
  /* border-radius: 10px; */
  /* width: 0px !important; */
  /* width: 10% !important; */
}
.contact-container {
  display: flex;
}
.contact-inner {
  flex: 1;

  border: 5px yellow solid;
}
.contact-field {
  margin-bottom: 25px;
  width: 100%;
}
.contact-banner {
  text-align: center;
  width: 100%;
  /* height: 100px; */
  /* background-color: blue; */
  /* margin-bottom: 20px; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-banner-box {
  /* background: #8b9da3; */
  width: 50%;
  border-radius: 10px;
  /* padding: 0px 0px 10px 0px; */
}
.contact-banner-container {
  width: 100%;
}
.contact-container {
  margin: 50px;
}
/* .contact-image-container {
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */
.contact-field-container {
  height: 100%;
  padding: 0px 40px 0px 100px;
}
.contact-submit-container {
  display: flex;
  float: right;
}
.contact-socials {
  margin: auto 10px 3.5px 0px;
}
.contact-sending {
  text-align: center;
  height: 100%;
  /* border: 1px yellow solid; */
}
.contact-loading-indicator {
  margin-top: 45%;
  /* border: 1px black solid; */
}
.contact-banner-sent {
  /* background: #8b9da3 !important; */
  border-radius: 10px;
  margin: 45% 20% 20%;
}
.time-field {
  border-color: #000 !important;
}

/* About */
.about-container {
  margin: 0px 15% 0px 15%;
  /* border: 1px black solid; */
}
.about-title {
  text-align: center;
}
.about-marina-container {
  display: flex;
}
.about-chris-description {
  text-align: right;
}
.about-marina-description {
  flex: 1;
}

.about-marina-img-container {
  /* margin: 2%; */
  height: 800px;
  position: relative;
  display: flex;
  margin-right: 50px !important;

  /* .column {
    flex: 33.33%;
    padding: 5px;
  } */
}
.about-marina-img {
  /* border: 1px black solid !important; */
  /* border-radius: 100px; */
  /* width: 60% !important;
  height: auto; */
  /* border-radius: 15px; */
}

/* Footer Styles */
.footer-image {
  /* background-color: blue; */
  flex: 1;
  margin: 35px;
}
.im {
  height: 150px;
}
.footer-images-container {
  display: flex;
}
.footer {
  padding: 0 100px 0 100px;
}
.footer-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.footer-instagram-link-container {
  text-align: center;
}
.footer-links-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  /* width: 100%; */
}
.footer-link {
  /* border: 8px yellow solid; */
  width: 100%;
}
.footer-right {
  text-align: right;
  /* border: 3px solid white; */
}
.footer-center {
  text-align: center;
  font-weight: 600;
}
.privacy-policy-terms-conditions-link {
  text-decoration: underline;
}

/* Portfolio */

.portfolio-image-container {
  /* border: 10px yellow solid; */
  animation: fadeIn ease 2.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.portfolio-image {
  border-radius: 10px;
}
.fade-in-section {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.125);
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 1500ms ease-in-out, transform 1500ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
}

.portfolio-heading {
  margin: 50px 0px 50px 0px;
  padding-top: 10px;
  text-align: center;
  /* background: #8b9da3; */
}
.portfolio-subheading {
  text-align: center;
}
.back-to-top-button {
  position: fixed;
  bottom: 4%;
  right: 2%;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #8b9da3;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
