/* * {
  border: 1px solid black;
} */
.root {
  margin: 2% 5% 2% 5%;
}
/* Landing Styles */
.nav-home-styles {
  /* position: absolute;
  */

  width: 100%;
  z-index: 9999999;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
  /* -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 170%);
  mask-image: linear-gradient(to bottom, black 10%, transparent 170%); */
}
.nav-home-wrapper-styles {
  height: 100%;
  position: relative;
}
.nav-logo {
  border: 5px yellow solid !important;
}
.overlap-images {
  display: grid;
  grid-template-areas: "overlay";
}

.overlap-images > span {
  grid-area: overlay;
}
.overlap-images > div {
  grid-area: overlay;
}
.carousel-image-container {
  /* height: 105vh !important; */
}
.carousel-logo {
  /* background-color: white !important; */
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3); */
  /* backdrop-filter: blur(1px) invert(0%); */
  /* background */
  border-radius: 40px;
  top: 12% !important;
  filter: invert(100%);
  max-width: 15% !important;
  max-height: 15% !important;
  min-width: 15% !important;
  min-height: 15% !important;
}
.landing-description {
  text-align: center;
  margin: 30px 0px 30px 0px;
  letter-spacing: 0.15rem;
}
.landing-image {
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 1px 1px 1px 1px grey; */
}
/* Nav Bar */
.nav-wrapper {
  width: full;
  margin-top: -2%;
}
.link-list {
  display: flex;
  padding-left: 0;
}
.title {
  width: 35%;
  max-width: 200px;
}
.title-container {
  width: 100%;
  overflow: hidden;
  padding-top: 2%;
  z-index: 102;
  position: relative;
  background-color: #fff;
}
.nav-item {
  flex: 1;
  list-style-type: none;
  text-align: center;
  /* border: 1px solid yellow; */
}
.disable-scroll {
  overflow: hidden !important;
}
.nav-item-mobile-container {
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 100;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
.nav-item-mobile-container-active {
  top: 0;
  padding-top: 30%;
}
.nav-item-mobile-container-active-medium {
  top: 0;
  padding-top: 23%;
}
.nav-item-mobile {
  list-style-type: none;
  text-align: center;
  margin-top: 13%;
  /* border: 1px solid yellow; */
}
.nav-text {
  display: inline-block;
  padding: 0px 2% 0px 2%;
  /* border: 1px solid orange; */
}
.hamburger-icon {
  position: absolute;
  top: 0;
  z-index: 102;
  right: 0;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
nav.fill ul li a {
  transition: all 2s;
}
nav.fill ul li a {
  position: relative;
}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #8b9da3;
  height: 1px;
}
nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #e6e5e3;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
  background: #8b9da3;
}
/* Contact Styles */
.contact-image {
  border-radius: 10px;
}
.contact-container {
  display: flex;
}
.contact-inner {
  flex: 1;
}
.contact-field {
  margin-bottom: 3.5%;
  width: 100%;
}
.contact-banner {
  text-align: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.contact-banner-box-mobile {
  width: 70%;
  border-radius: 10px;
}
.contact-banner-box {
  width: 50%;
  border-radius: 10px;
}
.contact-banner-container {
  width: 100%;
}
.contact-container {
  margin: 3%;
}
.contact-image-container {
  text-align: center;
  /* margin-right: 15%; */
}
.contact-image-inner {
  max-width: 63% !important;
  /* min-width: 63% !important;
  max-width: 63% !important; */
  /* min-width: auto; */
  /* min-height: 100%; */
  margin-top: 3%;

  /* margin-left: 15%; */
  /* margin-right: 20%; */
  display: inline-block;
  /* border: 5px yellow solid; */

  border-radius: 10px;
  justify-content: center;
}
.contact-field-container {
  height: 100%;
  padding: 0% 5% 0% 13%;
}
.contact-field-container-mobile {
  height: 100%;
  padding: 0% 10% 0% 10%;
}

.contact-submit-container {
  display: flex;
  float: right;
}
.contact-socials {
  margin: auto 10px 3.5px 0px;
}
.contact-sending {
  text-align: center;
  height: 100%;
  /* border: 1px yellow solid; */
}
.contact-loading-indicator {
  margin-top: 45%;
  /* border: 1px black solid; */
}
.contact-banner-sent {
  /* background: #8b9da3 !important; */
  border-radius: 10px;
  margin: 45% 20% 20%;
}
.time-field {
  border-color: #000 !important;
}

/* About */
.about-container {
  /* margin: 0px 15% 0px 15%; */
  /* border: 1px black solid; */
}
.about-title {
  text-align: center;
}
.about-marina-container {
  display: flex;
}
.about-chris-description {
  text-align: right;
}
.about-marina-description {
  flex: 1;
}

.about-marina-img-container {
  /* margin: 2%; */
  height: 800px;
  position: relative;
  display: flex;
  /* margin-right: 50px !important; */

  /* .column {
    flex: 33.33%;
    padding: 5px;
  } */
}
.about-add-spacing {
  margin-right: 50px !important;
}
.about-marina-img {
  /* border: 1px black solid !important; */
  /* border-radius: 100px; */
  /* width: 60% !important;
  height: auto; */
  /* border-radius: 15px; */
}
.about-marina-container-mobile {
  margin: 0% 10% 0% 10%;
}

/* Footer Styles */
.footer-image {
  /* background-color: blue; */
  flex: 1;
  margin: 1.7%;
}
.im {
  height: 150px;
}
.footer-images-container {
  display: flex;
}
.footer {
  padding: 0 2% 0 2%;
}
.footer-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10px;
}
.footer-instagram-link-container {
  text-align: center;
}
.footer-links-container {
  /* margin: 20px; */
  margin: 0 3% 0 3%;
  padding-bottom: 3%;
}
.footer-links-container-desktop {
  display: flex;
  justify-content: space-between;
}
.footer-links-container-mobile * {
  margin-bottom: 3%;
}
.footer-link {
  width: 100%;
}
.footer-right {
  text-align: right;
}
.footer-center {
  text-align: center;
  font-weight: 600;
}
.privacy-policy-terms-conditions-link {
  text-decoration: underline;
}

/* Pricing */
.pricing-container {
  max-height: 1000px;
  display: flex;
}

/* Portfolio */

/* .portfolio-image-container {
 animation: fadeIn ease 2.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */
.portfolio-image {
  border-radius: 10px;
}
.fade-in-section {
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.125); */
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 1500ms ease-in-out, transform 1500ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
}

.portfolio-heading {
  margin: 2% 0% 2% 0%;
  text-align: center;
  /* background: #8b9da3; */
}
.portfolio-subheading {
  text-align: center;
}
.back-to-top-button {
  position: fixed;
  bottom: 4%;
  right: 2%;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #8b9da3;
  }
}
/* problematic */
/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
